<div>

    <!--TODO #7-->
    <p>Number a: </p>

    <p>Number b: </p>

    <p>
        <!--TODO Button for calculating values-->
        <input type="number" ng-model="firstnumber">
        <input type="number" ng-model="secondnumber">
        <button type="button" class="btn btn-default" ng-click="calculate()">Calculate</button>
    </p>

    <p> a + b = <span>{{op1}}</span></p>

    <p> a - b = <span>{{op2}}</span></p>

    <p> a * b = <span>{{op3}}</span></p>

    <p> a / b = <span>{{op4}}</span></p>

</div>